**/.vs
**/Library
**/Logs
**/obj
**/.vsconfig
*.sln
*.csproj
AiSoundUnreal/AiSoundUnreal/Intermediate
AiSoundUnreal/AiSoundUnreal/Saved
AiSoundUnreal/.vs
AiSoundUnreal/Saved
AiSoundUnreal/Intermediate
AiSoundUnreal/Binaries
AiSoundUnreal/.vsconfig
AiSoundUnreal/UpgradeLog.htm
**/.idea
**/Temp
**/UserSettings

GisbUnreal/.vs
GisbUnreal/Saved
GisbUnreal/Intermediate
GisbUnreal/Binaries
GisbUnreal/.vsconfig
GisbUnreal/*.DotSettings.user
GisbUnreal/UpgradeLog.htm
**/Binaries
**/DerivedDataCache
**/Intermediate
**/Saved
