**/.vs
**/Library
**/Logs
**/obj
**/.vsconfig
*.sln
*.csproj
AiSoundUnreal/AiSoundUnreal/Intermediate
AiSoundUnreal/AiSoundUnreal/Saved
AiSoundUnreal/.vs
AiSoundUnreal/Saved
AiSoundUnreal/Intermediate
AiSoundUnreal/Binaries
AiSoundUnreal/.vsconfig
AiSoundUnreal/UpgradeLog.htm
**/.idea
**/Temp
**/UserSettings
